.button {
    background: #F3F3F3;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    gap: 6px;
    height: 60px;
    margin: 0px 20px;
    padding: 14px 20px;
    width: 300px;
}

.button.secondary {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #7FBEF9;
    border-radius: 60px;
}

.button > a {
    width: 233px;
    height: 14px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.02em;

    color: #23272A;
}

.button.secondary > a {
    color: #F3F3F3;
}

.button:hover {
    border: 1px solid #F9BA7F;
    border-radius: 60px;
}

.button:active {
    background-color: #F9BA7F;
    color:#23272A;
}