* {
    margin: 0;
}

body {
    font-size: 20px;
    font-family: 'Poppins', monospace;
    color: whitesmoke;
    background-color: #23272A;
    overflow-x: hidden;
}

span {
    visibility: hidden;
}