/* || Main section */
.promotions-section {
    /* border: 2px solid orange; for checking css box */
    margin: 30px 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
    width: auto;

    overflow: hidden;
}



/* || Sub-sections */
.promotions-section section {
    /* border: 2px solid yellow; for checking css box */
    width: 20%;
    height: 80%;
    padding: 1.5em;
    transition: width 0.5s ease;
}

.promotions-section .content {
    display: block;
    height: 100%;
    width: 100%;
}

.promotions-section .prod {
    /* border: 2px solid red; for checking css box */
    display: block;
}

.promotions-section .prod img {
    max-width: 100%;
}



/* || Text */
.promotions-section a[href^="#"] {
    color:white;
    text-decoration: none;
    text-align: center;
}

.promotions-section span {
    display: none;
}



/* || New-arrivals */
.new-arrivals {
    background-color: saddlebrown;
    background-image: url("../assets/background/new-arrivals-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

/* || Products */
.one {
    max-width: 28%;
    position: relative;
    top: 25%;
    left: 1%;
}

.two {
    max-width: 20%;
    position: relative;
    bottom: 10%;
    left: 28%;
}

.three {
    max-width: 70%;
    position: relative;
    bottom: 90%;
    left: 30%;
}

/* || Best-sellers */
.best-sellers {
    background-image: url("../assets/background/best-sellers-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* || Products */
.four {
    max-width: 40%;
    max-width: 25%;
    
    position: relative;
    left: 80%;
    top: 10%;
}

.five {
    max-width: 30%;
    max-height: 35%;
    
    position: relative;
    bottom: 100%;
    left: 3%;
}

.six {
    max-width: 30%;
    max-height: 40%;
    
    position: relative;
    bottom: 85%;
    left: 5%;
}

.seven {
    max-width: 40%;
    max-height: 50%;
    
    position: relative;
    bottom: 140%;
    left: 40%;
}

.big-leaf {
    max-width: 35%;
    position: absolute;
    top: 150%;
    right: 20%;
}


/* || Transition */
.promotions-section > section:target {
    width: 80%;
}

.promotions-section > section .content {
    display: none;
    /* max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease; */
}

.promotions-section > section:target .content {
    display: block;
    /* max-height: 100%;
    opacity: 1; */
}